* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */

body {
    font-family: "Lato", sans-serif;
    background-color: rgba(127, 255, 212, 0.604);
  }
  li {
      list-style: none;
  }
  
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition : margin-left .5s;
    padding: 16px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  
/* CHeck for divisibility */

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main {
  padding: 50px;
  height: auto ;
  width: auto;
  border:3px solid #111;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  gap: 20px ;
  background-color: antiquewhite;
  padding-top: 20px;
}
main > div >label {
  font-size: 16px;
  font-weight: 700;
  padding-right: 50px;
}
main > div >input {
  height: 25px;
  padding-left: 8px;
  font-weight: 600;
}
.Btn{
  display: flex;
  justify-content: center;
}
.btn-submit {
  margin-top: 20px;
  padding: 1%;
  border: 2px solid black;
  border-radius: 15px;
  font-size: 15px;
  font-weight: 700;
  background-color: rgba(10, 232, 240, 0.614);
}
#submit-block-in-screen-2{
  display: flex;
  align-items:center ;
  justify-content: center;
}
span{
  color: red;
  font-weight: 800;
  font-size: 20px;
}
#resulte {
  font-size: 15px;
  font-weight: 600;
}
.input-tag-screen-2{
  margin-top: 10px;
  margin-right: 5px;
  padding-left: 10px;
  width: 150px;
  font-size: 15px;
  font-weight: 600;
}