* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Style Strat */

body {
    font-family: "Lato", sans-serif;
  }
  li {
      list-style: none;
  }
  
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition : margin-left .5s;
    padding: 16px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  /* Header Style Strat */

/* Calculator Style Start*/

/* font -> League Spartan */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap');


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
}

body {	
	height: 100vh;
	font-family: 'League Spartan', sans-serif;
	font-size: 20px;
	font-weight: 600;
	background-color: hsl(268, 64%, 56%);
	/* display: flex;
	justify-content: center;
	align-items: center; */
	/* border: 1px solid blue; */
}
main{
	/* border: 1px solid red; */
	/* width: 380px; */
	display: flex;
	flex-direction: column;
	align-items: center;
  justify-content: center;
	gap: 20px;
}
header > h1{
	color: hsl(45, 8%, 10%);
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 1px;
	/* align-self: flex-end; */
}
.calc{
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 380px;
	justify-content: center;
	align-items: center;
}
.output-field{
	/* border: 1px solid blue; */
	padding: 20px;
	width: 100%;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: end;
	color: hsl(45, 21%, 11%);
	background-color: hsl(250, 32%, 68%);
  font-weight: 600;
	border-radius: 8px;
}
.input-field{
	width: 380px;
	/* height: 290px; */
	display: grid;
	grid-template-columns: 75px 75px 75px 75px;
	grid-template-rows: 45px 45px 45px 45px 45px;
	background-color: hsl(131, 18%, 81%);
	border-radius: 8px;
	padding: 20px;
	justify-content: space-between;
	/* border: 1px solid white; */
	gap: 14px;
}
.num{
	/* border: 1px solid red; */
	height: 45px;
	width: 75px;
	border-radius: 10px;
	/* margin-bottom: 20px; */
	display: flex;
	align-items: center;
	justify-content: center;

	color:  hsl(52, 100%, 62%);
	background-color: hsl(187, 48%, 21%);
	box-shadow: 0px 2px 0px hsl(0, 3%, 7%);
  font-weight: 600;
	cursor: pointer;
}

#btn-del{
	color:  hsl(0, 0%, 100%);
	background-color: hsl(189, 89%, 26%);
	box-shadow: 0px 2px 0px hsl(280, 6%, 10%);
	text-transform: uppercase;
}

#btn-reset{
	width: 162px;
	color:  hsl(0, 0%, 100%);
	background-color: hsl(195, 87%, 37%);
	box-shadow: 0px 2px 0px hsl(140, 6%, 10%);
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 5;
	grid-row-end: 6;
	text-transform: uppercase;
}
#btn-equal{
	width: 162px;
	color: hsl(198, 20%, 13%);
	background-color: hsl(140, 100%, 44%);
	box-shadow: 0px 2px 0px hsl(180, 20%, 3%);
	grid-column-start: 3;
	grid-column-end: 5;
	grid-row-start: 5;
	grid-row-end: 6;
}

.num:hover{
	opacity: 0.5;

}
.num:active , .num:focus{
	background-color: none;
}